/* CandidateList.css */
.candidate-table {
  width: 100%;
  border-collapse: collapse;
}

/* heading row blue + white text */
.candidate-table thead,
.candidate-table thead tr,
.candidate-table thead th {
  background-color: #1e88e5; /* blue */
  color: #ffffff;
}

/* data rows pale yellow */
.candidate-table tbody td {
  background-color: #f2ffc4; /* pale yellow */
  color:#090000;
}

/* spacing for readability */
.candidate-table thead th,
.candidate-table tbody td {
  padding: 10px 12px;
  text-align: center;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}
